# ignore archives
*.zip
*.tar
*.tar.gz
*.rar
*.csv
*.env


# ignore specific files
todo.txt
__pycache__
.vscode
baseimagedeploy.dockerfile

# ignore dataset folder and subfolders
data/
realdeployml/models
